header, nav, section{
    max-width: 90%;
    margin: auto;
}

img{
    width: 180px;
    height: 145px;
    margin-top: 20px;
}

h1{
    text-align: right;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -100px;
    margin-right: 145px;
    margin-bottom: 50px;
}

h3{
    font-size: 25px; 
}

h4{
    font-size: 20px; 
    text-align: center;
}

nav{
    text-align: center;
    border-radius: 50px;
    border-bottom-right-radius: 5;
    background-color: lightblue;
}

ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

a{
    color: black;
    position: relative;
    margin: 50px;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 15px;
    position: relative;
}

ul li:hover {
    background: lightskyblue;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 30px 0;
    max-width: 120%;
    background-color: cadetblue;
}

p{
    font-size: 20px;
    text-align: justify;
    margin-left: 10px;
}


  
    